/* .labelIcon:hover {
  animation-name: play54;
} */
/* @keyframes play54 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -2592px 0px;
  }
} */
.labelIcon {
  margin: 0 auto;
  margin-bottom: 35px;
  animation-duration: 900ms;
  animation-timing-function: steps(54);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

/* .play {
  animation-name: play54;
} */
