.Choices {
  background-color: transparent !important;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 50rem) {
  .Choices {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  }
}
